@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .rendering-legibility {
    text-rendering: optimizeLegibility;
  }
}

:root {
  body {
    scrollbar-color: theme('borderColor.DEFAULT') transparent;
    scrollbar-width: thin;
  }
  .editor {
    counter-reset: editor-counter;
  }
  .editor .line {
    counter-increment: editor-counter;
  }
  .editor .line:before {
    @apply shrink-0 w-8 sm:w-10 md:w-14 content-[counter(editor-counter)] self-start;
  }
}
